<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="/static/css/index.css"> <!--link para o css-->
</head>
<body>
<div id="chat-container">
    <div id="messages"></div>
    <form id="form" action="">
        <input id="input" autocomplete="off" placeholder="Type your message..." />
        <button type="submit">Send</button>
        <button id="toggle-btn">Disconected</button>
    </form>
</div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/index.js"></script> <!--link para o js-->
</body>
</html> 